.spacer {
  flex: 1 1 auto;
  }

  .mat-toolbar {
    background-color: #ffd700;
    color: #152241;
}

.img-toolbar{
    height: 100%;
}

.a-toolbar{
  height: 100%;
}

.title {
  padding-left: 4%;
  padding-bottom: 2%;
  font-size: xx-large;
}

