<!-- <div >

    <form class="search-form">
        <mat-form-field class="search-full-width" appearance="fill">
          <mat-label>Busca tu Pokemón</mat-label>
          <input type="text"
                 placeholder="Escoge tu Pokemón"
                 matInput
                 [formControl]="searchPokemon"
                 [matAutocomplete]="auto">
          <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
              {{option}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </form>


  </div> -->
