@import "../../assets/styles/variables.scss";

//secondry toolbar
// .toolbar-secondary {

// }
.main-header{
  justify-content: space-around;
}

.search-form{
  height: inherit
}


// pokemons card
.container {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 40px;
  text-align: center;
}

.pokemon-card {
  padding: 1rem;
  margin: auto;

}

.mat-mdc-card-header {
  display: flex;
  padding: 0px 3rem 0.5rem;
}

.card-image {
  height: 14rem;
}

img {
  max-height: 200px;
  max-width: 200px;
  margin-left: 8px;
  margin-bottom: 8px;
}

.card-header{
  align-items: center;
}

.card-title {
  margin-bottom: 0.3rem;
  font-size: x-large;
  font-weight: bold;
}

.card-content {
  padding-top: 0.75rem;
}

.card-button-delete{
  position: absolute;
  top: 0;
  right: 0;
}
