/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: pokemonSolid;
    src: url(./assets/fonts/PokemonSolid.ttf) format('truetype');
}

.pokemon {
    font-family: pokemonSolid;
}

html, body { height: 100%; }
body { 
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif; 
}

.footer{
    bottom: 0;
    height: 50px;
    width: 100%;
}